<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>        
        <ul>
            <% categories.forEach(categories => { %>                
                <li><%= categories.category_name %> </li>
            <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>